* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100wh;
}

header {
  background-color: #3D6CEC;
  height: 356px;
  width: 375px;
  border-radius: 0px, 0px, 32px, 32px;
}

.summary-categorty img {
  height: 30px;
}