* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100wh;
}

header {
  /* background-color: #3D6CEC; */
  background: linear-gradient(to bottom, #7755FF, #2F2CE9);
  height: 356px;
  width: 375px;
  border-radius: 0 0 32px 32px;
  margin: 0 auto;
  text-align: center;
}

.result {
  padding-top: 24px;
}

#total {
  color: white;
  font-size: 30px;
  background-color: blue;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#number-total {
  color: white;
  font-size: 30px;
}

#number-total span {
  color: #CAC9FF;
  font-size: 15px;
}

p {
  color: #CAC9FF;
}

h2 {
  color: white;
}

.summary-categorty img {
  height: 30px;
}